
<!-- <h1 style="color:white;">AdminUser</h1> -->
<head>
        <style>
            th,td{
                color:black;
            }
            
            
            </style>
    </head>
    <form style="width: max-content;height: max-content; background-color:white;margin-top:-8px;margin-left:350px;">

<table class="table table-hover table-bordered"  style="width: max-content; height:max-content;margin-top:14px;margin-left: 11px; " >
        <thead>
            <tr>
                    <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>MOBILE</th>
               
                <th>STATUS</th>
                
            </tr>
        </thead>
        <tbody *ngFor="let item of list">
            <tr>
                <td>{{item.uid}}</td>
                <td>{{item.uname}}</td>
                <td>{{item.umail}}</td>
                <td>{{item.unumber}}</td>
                <td>{{item.uactive}}</td>
                <td> <button type="submit" (click)="Block(item.uid)">Block</button></td>
                <td> <button type="submit" (click)="UnBlock(item.uid)">UnBlock</button></td>
                <td> <button type="submit" (click)="Delete(item.uid)">Delete</button></td>

                <!-- <td>{{item.mnumber}}</td>
                <td>{{item.mexperience}}</td>
                <td>{{item.mtimeslot}}</td> -->
              
            </tr>
        </tbody>
    </table>
  